<header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo", class: "navbar-brand" %>
    <nav>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to "Home",    root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Help",    help_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Sign up", signup_path, class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</header>